@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

:root {
    --cyan: hsl(180, 66%, 49%);
    --dark-violet: hsl(257, 27%, 26%);
    --red: hsl(0, 87%, 67%);
    --gray: hsl(0, 0%, 75%);
    --grayish-violet: hsl(257, 7%, 63%);
    --very-dark-blue: hsl(255, 11%, 22%);
}

* {
    box-sizing: border-box;
}

h1 {
    color: var(--very-dark-blue);
}

a {
    text-decoration: none;
    color:inherit;
}

body {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section {
    max-width: 100%;
}

.bg-white {
    background-color: white;
}

.bg-violet {
    background-color: #F0F1F6;
}

.hero, nav {
    background-color: white;
}

.container {
    padding: 1rem;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

/* Navbar */

nav {
    color: var(--grayish-violet);
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
}

nav hr {
    display: none;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.nav-menu {
    padding: 0 2rem;
    display: flex;
    font-weight: 700;
}

.nav-menu a {
    padding: 0.75rem 1rem;
}

.nav-menu a:hover {
    color: var(--very-dark-blue);
}

.auth-btns {
    font-weight: 700;
}

.auth-btns > *{
    margin: 0 1.5rem;
}

#burger-icon {
    display: none;
}

/* Buttons */
.btn {
    border-radius: 2rem;
    padding: .75rem 1.5rem;
    font-weight: 700;
    cursor: pointer;
    border: none;
}

.btn-primary {
    background-color: var(--cyan);
    color:white;
}

.btn-dark {
    background-color:var(--very-dark-blue);
    color:white;
}

.btn-primary:hover {
    background-color: #9CE2E0;
    color:white;
}

footer {
    background-color:#232027;
    color:white !important;
    margin: 0;
    max-width: 100%;
}

footer > div {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

footer h1 {
    flex-grow: 1;
    color:white;
    margin: 0;
    padding: 1rem 3rem;
}

footer ul {
    list-style: none;
    color:var(--gray);
}

footer ul li:first-child{
    color:white;
    margin-bottom: 1rem;
}

.social {
    display: flex;
}

.social > * {
    padding: 0 1rem;
}

/* Hero */

.hero {
    display: flex;
    padding: 2rem 0;
    max-width: 100%;
    overflow: hidden;
}

.hero h2 {
    font-size: 4rem;
    line-height: 4rem;
    margin-bottom:0;
}

.hero-text {
    display:inline-block;
    width:60%;
}

.hero-text p {
    padding-right: 2rem;
    color: var(--gray);
}

.hero-image{
    display:inline-block;
    width: 40%;
    position: relative;
}   


/* Shotner */

.shortner-container {
    background-color: var(--dark-violet);
    background-image: url('../images/bg-shorten-desktop.svg');
    padding: 2rem;
    border-radius: .75rem;
    display: flex;
    flex-wrap: wrap;
}

.shortner-container > * {
    margin: 0 .5rem;
}

.shortner-container input {
    padding: .75rem 1.5rem; 
    border:none;
    flex-grow: 1;
}

#error {
    color:red;
    font-size:1rem;
    margin: .75rem;
    flex-grow: 1;
    width: 100%;
}

.shortner-container input,button{
    border-radius: 5px !important;
}

.url-shortned-container {
    margin: 1rem 0;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    background-color: white;
}

.url-shortned-container .url {
    flex-grow: 1;
}
.url-shortned-container .url-short {
    padding-right: 1rem;
}

/* Stats section */

.statistics-section {
    max-width: 100%;
}

.stats-text {
    text-align: center;
    width: 500px;
    max-width: 100%;
    margin: 6rem auto 2rem auto;
}

.stats-text p {
    color: var(--gray);
}

.stats-cards {
    display: flex;
}


.card {
    background-color: white;
    border-radius: .75rem;
    margin: 1rem;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    position: relative;
    align-self: center;
}

.card p {
    color:var(--gray);
}

.card:nth-child(2){
    margin-top: 100px;
}

.card:nth-child(3){
    margin-top: 200px;
}

.card-icon {
    background-color: var(--dark-violet);
    display: inline-block;
    padding: 1rem;
    border-radius: 50%;
    position: absolute;
    top:-50px
}

.card-icon img {
    width: 50px;
    height: 50px;
}

.boost {
    text-align: center;
    background-color: var(--dark-violet);
    background-image: url('../images/bg-shorten-desktop.svg');
    background-position: center;
    background-size: cover;
    color:white;
    padding: 2rem;
    margin: 0;
}

.url-short {
    color: var(--cyan);
}

@media (max-width: 800px) {


   /* NAV */
   nav {
       display:  block;
   }

   .nav-links {
       display: none;
       flex-direction: column;
       background-color: var(--dark-violet);
       padding: 2rem 1rem;
       border-radius: 1rem;
   }

   .nav-menu {
       flex-direction: column;
       padding: 0;
   }

   .nav-menu li {
       padding-bottom: 2rem;
       text-align: center;
       color:var(--gray);
   }

   .auth-btns {
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 100%;
   }

   .auth-btns > * {
       margin: 0.5rem 0;
       display: block;
       width: 100%;
       text-align: center;
       flex-grow: 1;
   }
   
   hr {
       display: block;
       width: 100%;
       border: 0;
       height: 1px;
       background: var(--grayish-violet);
   }

   .nav-logo {
       display: flex;
       justify-content: space-between;
   }
   #burger-icon {
       display: block;
   }

   .visible {
       display: block;
   }
   
   /* Hero */

   .hero {
       flex-direction: column-reverse;
       align-items: center;
       padding:0;
       overflow: hidden;
   }

   .hero > * {
       width: 100%;
   }

   .hero-text {
       padding: 0;
       text-align: center;
   }


   .hero-image img {
    position: static;
   }

   .shortner-container,.url-shortned-container{
       flex-direction: column;
       text-align: left;
   }

   .url-shortned-container{
        flex-direction: column;
    }
    
    .url-shortned-container > * {
        width: 100%;
        text-align: left;
    }

    .actions button {
        width:100%;
        margin-top: .5rem;
    }

   .shortner-container button {
       margin-top:1rem;
   }

   .stats-cards {
       flex-direction: column;
   }

   .stats-cards > * {
       margin-top: 5rem;
   }

   .card:nth-child(2),.card:nth-child(3) {
     margin-top: auto;
    }

    .card-icon {
        position: static;
        display: inline-block;
        margin: 0 auto;
    }

    footer > div {
        text-align: center;
        flex-direction: column;
        align-items: center;
    }

    footer ul {
        padding: 0;
    }


}

    
