/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Manrope:wght@800&display=swap');

/* Resets */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Colors */
:root {
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
    --grayish-blue: hsl(217, 19%, 38%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);
}

/* CSS */
body {
    font-size: 28px;
    font-family: 'JetBrains Mono', monospace;
    font-family: 'Manrope', sans-serif;
    background-color: var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background-color: var(--dark-grayish-blue);
    color: var(--light-cyan);
    width: 450px;
    max-width: 100%;
    margin-top: 5rem;
    border-radius: 1rem;
    padding: 2rem;
}

main > #advice-title {
    color: var(--neon-green);
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .3rem;
    text-align: center;
    padding: 1.75rem 0;
}

main > #advice-body {
    text-align: center;
}

#advice-separator {
    background-image: url('../images/pattern-divider-desktop.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 1rem;
    margin: 2rem auto;
}

#advice-button {
    background-color: var(--neon-green);
    display: flex;
    width: 4rem;
    height: 4rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

#advice-button:hover{
    box-shadow: 0px 0px 2rem .4rem var(--neon-green);
}